<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
  <tr>
    <td>contSeq</td>
    <td>contName</td>
  </tr>
  <tr th:each="list : ${list}">
    <td th:text="${list.contSeq}"></td>
    <td><a th:href="@{/addcontact/addXdmView(contSeq=${list.contSeq})}" th:text="${list.contFirstName} + ${list.contLastName}"></a></td>
  </tr>
</table>

<br>
<a href="/addcontact/addXdmForm">등록</a><br>

<br>
<a href="/addrcontact/addrXdmList">address</a><br>
<a href="/annicontact/anniXdmList">anniversary</a><br>
<a href="/compcontact/compXdmList">company</a><br>
<a href="/mailcontact/mailXdmList">email</a><br>
<a href="/messcontact/messXdmList">messenger</a><br>
<a href="/pagecontact/pageXdmList">page</a><br>
<a href="/phoncontact/phonXdmList">phone</a><br>
<a href="/groucontact/grouXdmList">group</a><br>
