<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
  <tr>
    <td>addrSeq</td>
    <td>addrList</td>
    <td>addrZipCode</td>
    <td>addrAddress</td>
  </tr>
  <tr th:each="addr : ${addr}">
    <td th:text="${addr.addrSeq}"></td>
    <td><a th:href="@{/addrcontact/addrXdmView(addrSeq=${addr.addrSeq})}" th:text="${addr.addrList}"></a></td>
    <td th:text="${addr.addrZipCode}"></td>
    <td th:text="${addr.addrAddress}"></td>
  </tr>
</table>

<a href="/addrcontact/addrXdmForm">등록</a>
