index.html

<br><a href="/helloWorld">helloWorld</a>
<br><a href="/aaa/bbb">bbb/aaa</a>
<br><a href="/xxx/yyy/zzz">yyy/zzz</a>
<br><a href="/ttt/yyy">zzz/yyy/xxx</a>
<br><a href="/infra/member/loginXdmForm">adm/v1/tmpname/infra/member/loginForm</a>
<br><a href="/infra/codegroup/codeGroupXdmList">adm/v1/tmpname/infra/codegroup/codeGroupList</a>
<br><a href="/infra/codegroup/codeGroupXdmForm">adm/v1/tmpname/infra/codegroup/codeGroupForm</a>
<br><a href="/infra/member/loginUsrForm">usr/v1/tmpname/infra/member/loginForm</a>