<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form action="/annicontact/anniXdmInst" method="post" id="form">
	양력/음력: <input type="text" name="anniCalendar" id="anniCalendar" placeholder="0 or 1"/>
	기념일: <input type="text" name="anniList" id="anniList"/>
	날짜: <input type="date" name="anniDate" id="anniDate"/>
	중요도: <input type="text" name="anniMain" id="anniMain" placeholder="0 or 1"/>
	seq: <input type="text" name="contactAdd_contSeq" id="contactAdd_contSeq"/>
	<button type="button" id="btnSave">저장</button>
</form>

<script type="text/javascript">
	document.getElementById("btnSave").onclick = function () {
		document.getElementById("form").submit();
	}
</script>

</body>