<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form action="/mailcontact/mailXdmUpdate" method="post" id="form">
	<input type="hidden" name="mailSeq" th:value="${item.mailSeq}"/>
	메일주소: <input type="text" name="mailAddr" id="mailAddr" th:value="${item.mailAddr}"/>
	중요도: <input type="text" name="mailMain" id="mailMain" placeholder="0 or 1" th:value="${item.mailMain}"/>
	seq: <input type="text" name="contactAdd_contSeq" id="contactAdd_contSeq" th:value="${item.contactAdd_contSeq}"/>
	<button type="button" id="btnSave">저장</button>
</form>

<script type="text/javascript">
	document.getElementById("btnSave").onclick = function () {
		document.getElementById("form").submit();
	}
</script>

</body>