<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.userpet.demo.fapp.contactadd.AddDao">

	  <resultMap type="com.userpet.demo.fapp.contactadd.AddDto" id="resultMapObj"></resultMap>
	  
	  <select id="selectList" resultMap="resultMapObj">
	  	select
			contSeq,
		    contFirstName,
		    contLastName,
		    contHonorificTitle,
		    contMidName,
		    contTitle,
		    contId,
		    contNickname,
		    contMemo,
		    contImage,
		    contImportant
		FROM
			contactadd
		WHERE 1=1
		ORDER BY contSeq DESC
	  </select>
</mapper>