<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.userpet.demo.fapp.contactadd.AddDao">

	  <resultMap type="com.userpet.demo.fapp.contactadd.AddDto" id="resultMapObj"></resultMap>
	  
	  <select id="selectList" resultMap="resultMapObj">
	  	select
			contSeq,
		    contFirstName,
		    contLastName,
		    contHonorificTitle,
		    contMidName,
		    contTitle,
		    contId,
		    contNickname,
		    contMemo,
		    contImage,
		    contImportant
		FROM
			contactadd
		WHERE 1=1
		ORDER BY contSeq DESC
	  </select>
	  
	  <select id="selectOne" resultMap="resultMapObj">
	  	select
			contSeq,
		    contFirstName,
		    contLastName,
		    contHonorificTitle,
		    contMidName,
		    contTitle,
		    contId,
		    contNickname,
		    contMemo,
		    contImage,
		    contImportant,
		    deleNy
		FROM
			contactadd
		WHERE 1=1
			and contSeq = #{contSeq}
		ORDER BY contSeq DESC
	  </select>
	  
	  <insert id="insert">
	  	insert into contactadd (
		    contFirstName,
		    contLastName,
		    contHonorificTitle,
		    contMidName,
		    contTitle,
		    contId,
		    contNickname,
		    contMemo,
		    contImage,
		    contImportant,
		    deleNy
		) values (
		    #{contFirstName},
		    #{contLastName},
		    #{contHonorificTitle},
		    #{contMidName},
		    #{contTitle},
		    #{contId},
		    #{contNickname},
		    #{contMemo},
		    #{contImage},
		    #{contImportant},
		    0
		)
		<selectKey resultType="String" keyProperty="contSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	  </insert>
	  
	  <update id="update">
	  	UPDATE contactadd
		SET
			contFirstName = #{contFirstName},
		    contLastName = #{contLastName},
		    contHonorificTitle = #{contHonorificTitle},
		    contMidName = #{contMidName},
		    contTitle = #{contTitle},
		    contId = #{contId},
		    contNickname = #{contNickname},
		    contMemo = #{contMemo},
		    contImage = #{contImage},
		    contImportant = #{contImportant}
		where
			contSeq = #{contSeq}
	  </update>
	  
	  <delete id="delete">
	  	DELETE FROM contactadd
		WHERE
			contSeq = #{contSeq}
	  </delete>
	  
	  <update id="deleNy">
	  	update contactadd
	  	set
	  		deleNy = 1
	  	where
	  		contSeq = #{contSeq}
	  </update>
</mapper>