<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.userpet.demo.fapp.contactaddress.AddrDao">

	  <resultMap type="com.userpet.demo.fapp.contactaddress.AddrDto" id="resultMapObj"></resultMap>
	  
	  <select id="selectList" resultMap="resultMapObj">
	  	select
			addrSeq,
		    addrList,
		    addrZipCode,
		    addrAddress,
		    addrMain,
		    contactAdd_contSeq
		FROM
			contactaddress
		WHERE 1=1
		ORDER BY addrSeq DESC
	  </select>
	  
	  <select id="selectOne" resultMap="resultMapObj">
	  	select
			addrSeq,
		    addrList,
		    addrZipCode,
		    addrAddress,
		    addrMain,
		    contactAdd_contSeq
		FROM
			contactaddress
		WHERE 1=1
			and addrSeq = #{addrSeq}
		ORDER BY addrSeq DESC
	  </select>
	  
	  <insert id="insert">
	  	insert into contactaddress (
		    addrList,
		    addrZipCode,
		    addrAddress,
		    contactAdd_contSeq,
		    addrMain
	  	) values (
	  		#{addrList},
	  		#{addrZipCode},
	  		#{addrAddress},
	  		#{contactAdd_contSeq},
	  		#{addrMain}
	  	)
	  	<selectKey resultType="String" keyProperty="addrSeq" order="AFTER">
	  		SELECT last_insert_id()
	  	</selectKey>
	  </insert>
	  
	  <update id="update">
	  	update contactaddress
	  	set
	  		addrList = #{addrList},
		    addrZipCode = #{addrZipCode},
		    addrAddress = #{addrAddress},
		    contactAdd_contSeq = #{contactAdd_contSeq},
		    addrMain = #{addrMain}
		where
			addrSeq = #{addrSeq}
	  </update>
</mapper>