<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.userpet.demo.fapp.contactanniversary.AnniDao">

	  <resultMap type="com.userpet.demo.fapp.contactanniversary.AnniDto" id="resultMapObj"></resultMap>
	  
	  <select id="selectList" resultMap="resultMapObj">
	  	select
			anniSeq,
		    anniCalendar,
		    anniList,
		    anniDate,
		    anniMain,
		    contactAdd_contSeq
		FROM
			contactanniversary
		WHERE 1=1
		ORDER BY anniSeq DESC
	  </select>
	  
	  <select id="selectOne" resultMap="resultMapObj">
	  	select
			anniSeq,
		    anniCalendar,
		    anniList,
		    anniDate,
		    anniMain,
		    contactAdd_contSeq
		FROM
			contactanniversary
		WHERE 1=1
			and anniSeq = #{anniSeq}
		ORDER BY anniSeq DESC
	  </select>
	  
	  <insert id="insert">
	  	insert into contactanniversary (
	  		anniCalendar,
		    anniList,
		    anniDate,
		    contactAdd_contSeq,
		    anniMain
	  	) values (
	  		#{anniCalendar},
	  		#{anniList},
	  		#{anniDate},
	  		#{contactAdd_contSeq},
	  		#{anniMain}
	  	)
	  	<selectKey resultType="String" keyProperty="anniSeq" order="AFTER">
	  		SELECT last_insert_id()
	  	</selectKey>
	  </insert>
	  
	  <update id="update">
	  	update contactanniversary
	  	set
	  		anniCalendar = #{anniCalendar},
		    anniList = #{anniList},
		    anniDate = #{anniDate},
		    contactAdd_contSeq = #{contactAdd_contSeq},
		    anniMain = #{anniMain}
		where
			anniSeq = #{anniSeq}
	  </update>
</mapper>