<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.userpet.demo.fapp.contactcompany.CompDao">
	<resultMap type="com.userpet.demo.fapp.contactcompany.CompDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			compSeq,
			compName,
			compDepartment,
			compPosition,
			compMain
		from
			contactcompany
		where 1=1
		order by compSeq desc
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			compSeq,
			compName,
			compDepartment,
			compPosition,
			compMain,
			contactAdd_contSeq,
			deleNy
		from
			contactcompany
		where 1=1
			and compSeq = #{compSeq}
		order by compSeq desc
	</select>
	
	<insert id="insert">
		insert into contactcompany (
			compName,
		    compDepartment,
		    compPosition,
			contactAdd_contSeq,
		    compMain,
		    deleNy
		) values (
			#{compName},
			#{compDepartment},
			#{compPosition},
			#{contactAdd_contSeq},
			#{compMain},
			0
		)
		<selectKey resultType="String" keyProperty="compSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		update contactcompany
		set
			compName = #{compName},
		    compDepartment = #{compDepartment},
		    compPosition = #{compPosition},
			contactAdd_contSeq = #{contactAdd_contSeq},
		    compMain = #{compMain}
		where
			compSeq = #{compSeq}
	</update>
	
	<delete id="delete">
		delete from contactcompany
		where
			compSeq = #{compSeq}
	</delete>
	
	<update id="deleNy">
		update contactcompany
		set
			deleNy = 1
		where
			compSeq = #{compSeq}
	</update>
</mapper>