<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.userpet.demo.fapp.groupname.GrouDao">
	<resultMap type="com.userpet.demo.fapp.groupname.GrouDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			grouSeq,
			grouName
		from
			groupname
		where 1=1
		order by grouSeq
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			grouSeq,
			grouName,
			deleNy
		from
			groupname
		where 1=1
			and grouSeq = #{grouSeq}
		order by grouSeq
	</select>
	
	<insert id="insert">
		insert into groupname(
		    grouName,
		    deleNy
		) values (
			#{grouName},
			0
		)
		<selectKey resultType="String" keyProperty="grouSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		update groupname
		set
			grouName = #{grouName}
		where
			grouSeq = #{grouSeq}
	</update>
	
	<delete id="delete">
		delete from groupname
		where
			grouSeq = #{grouSeq}
	</delete>
	
	<update id="deleNy">
		update groupname
		set
			deleNy = 1
		where
			grouSeq = #{grouSeq}
	</update>
</mapper>