<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.userpet.demo.fapp.groupname.GrouDao">
	<resultMap type="com.userpet.demo.fapp.groupname.GrouDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			grouSeq,
			grouName
		from
			groupname
		where 1=1
		order by grouSeq
	</select>
</mapper>