<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.userpet.demo.fapp.contactmail.MailDao">
	<resultMap type="com.userpet.demo.fapp.contactmail.MailDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			mailSeq,
			mailAddr,
			mailMain
		from
			contactemail
		where 1=1
		order by mailSeq
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			mailSeq,
			mailAddr,
			mailMain,
			contactAdd_contSeq,
			deleNy
		from
			contactemail
		where 1=1
			and mailSeq = #{mailSeq}
		order by mailSeq
	</select>
	
	<insert id="insert">
		insert into contactemail(
			mailAddr,
			contactAdd_contSeq,
		    mailMain,
		    deleNy
		) values (
			#{mailAddr},
			#{contactAdd_contSeq},
			#{mailMain},
			0
		)
		<selectKey resultType="String" keyProperty="mailSeq" order="AFTER">
			SELECT last_insert_id();
		</selectKey>
	</insert>
	
	<update id="update">
		update contactemail
		set
			mailAddr = #{mailAddr},
			contactAdd_contSeq = #{contactAdd_contSeq},
		    mailMain = #{mailMain}
		where
			mailSeq = #{mailSeq}
	</update>
	
	<delete id="delete">
		delete from contactemail
		where
			mailSeq = #{mailSeq}
	</delete>
	
	<update id="deleNy">
		update contactemail
		set
			deleNy = 1
		where
			mailSeq = #{mailSeq}
	</update>
</mapper>