<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.userpet.demo.fapp.contactmessenger.MessDao">
	<resultMap type="com.userpet.demo.fapp.contactmessenger.MessDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			messSeq,
			messList,
			messMain
		from
			contactmessenger
		where 1=1
		order by messSeq
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			messSeq,
			messList,
			messMain,
			contactAdd_contSeq
		from
			contactmessenger
		where 1=1
			and messSeq = #{messSeq}
		order by messSeq
	</select>
	
	<insert id="insert">
		insert into contactmessenger(
			messList,
		    messAddress,
			contactAdd_contSeq,
		    messMain
		) values (
			#{messList},
			#{messAddress},
			#{contactAdd_contSeq},
			#{messMain}
		)
		<selectKey resultType="String" keyProperty="messSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		update contactmessenger
		set
			messList = #{messList},
		    messAddress = #{messAddress},
			contactAdd_contSeq = #{contactAdd_contSeq},
		    messMain = #{messMain}
		where
			messSeq = #{messSeq}
	</update>
</mapper>