<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.userpet.demo.fapp.contactpage.PageDao">
	<resultMap type="com.userpet.demo.fapp.contactpage.PageDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			pageSeq,
			pageAddress,
			pageMain
		from
			contactpage
		where 1=1
		order by pageSeq
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			pageSeq,
			pageAddress,
			pageMain,
			contactAdd_contSeq
		from
			contactpage
		where 1=1
			and pageSeq = #{pageSeq}
		order by pageSeq
	</select>
	
	<insert id="insert">
		insert into contactpage(
			pageAddress,
			contactAdd_contSeq,
		    pageMain
		) values (
			#{pageAddress},
			#{contactAdd_contSeq},
			#{pageMain}
		)
		<selectKey resultType="String" keyProperty="pageSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		update contactpage
		set
			pageAddress = #{pageAddress},
			contactAdd_contSeq = #{contactAdd_contSeq},
		    pageMain = #{pageMain}
		where
			pageSeq = #{pageSeq}
	</update>
</mapper>